
body{
    height: 100vh;
    background-image:url(/src/assets/img/loginpic.png);
}




.mat-card{
    max-width: 400px;
    margin: 1px auto;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    text-align: left;
}
.name {
    width: 365px;
}

.logo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 1px auto;
    height: 25vh;
    border-radius: 50%;
}

.field{
    width: 365px;
}
.condition{
    text-align: left;
}
.last-link{
    text-decoration: none;
    text-align: center;
    color: blue;
    cursor: pointer;
}
.last-wrap{
    text-decoration: none;
    text-align: center;
}
.btn{
    background-color: #048d5f;
    color: #fff;
    width: 92%;
    text-align: center;
}    
