.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.split{
  width: 47%;
}
.field{
  width: 100%;
}
.header {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 500;
  border-bottom: 1px solid  #048d5f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  background-color: #048d5f;
  color: #fff;
  width: 100%;
  text-align: center;
}
