.header {
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 500;
  border-bottom: 1px solid  #048d5f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header{
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 500;
}


.card{
  width: 25%;
  box-shadow: 0 15px 25px #eee;
  // height: 40vh;
  justify-content: space-between;
  align-items: center;
  margin: 10px ;
  padding: 10px;
  text-align: center;
   border-left: 3px solid green;

}
.card-wrap{
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  // height: 50vh;
  align-items: stretch;

}
