<div class="container">
  <div>
  <span class="top-header">Dashboard</span>
</div><br>
<div>
  <span class="header">Hello,username</span>
</div>
</div>

<div class="body">

  <div class="card-wrap">
    <div class="card">
     <div class="content">
       <div class="text">
     <span>Available cars</span><br>
     <span>12/16</span>
   </div>
   <div>
     <mat-icon class="mat-18">car_rental</mat-icon>

   </div>
    </div>
   </div>

    <div class="card">
     <div>
       <span>Total Customer</span><br>
       <span>28</span>
     </div>
     <div>
       <mat-icon class="mat-18">people</mat-icon>
     </div>
      </div>

      <div class="card">
       <div>
         <span>Members</span><br>
         <span>50</span>
       </div>
       <div>
         <mat-icon class="mat-18">people</mat-icon>
       </div>
        </div>


        <div class="card">
         <div>
           <span>Active Now</span> <br>
           <span>10</span>
         </div>
         <div>
           <mat-icon class="mat-18">checkbox</mat-icon>
         </div>
          </div>


   </div>

</div>
